*{
	margin: 0;
	padding: 0;
	font-family: Tahoma; 
}

container{
margin-left: 5px;
float: center; 
height: 80px;
width: 80px;
margin-top: 5px;
	
}	

header{
	background-image: url(pylon.jpg);
	background-size: cover;
	background-height: 100vh;
	background-position: fixed;
	background-repeat: no-repeat;
	background-color: ;
}


body{
	background-color: maroon;
	background-size: cover;
	background-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 5;
}

.active {
    position: relative;
    z-index: 5;
}

ul{    "nav bar to hanggang li a"
	float: left;
	list-style-type: none; 
	margin-top: 30px;
	margin-bottom: 10px;
}

ul li{
	display: inline-block;
	text-border: 15px;
	}
ul li a{
	text-decoration: float-right;
	color: yellow;
	padding: 10px 20px;
}

ul li a:hover{
	background-color: yellow;
	color: red;   
}

footer {
background-color:maroon;
width: 100%;
display:flex;   
justify-content: space-around;
align-items: left;
color: gold

}

footer img {
    height: 50px;
    width: 50px;
    display:block;
}
.contactImage{
    display:inline-flex;
}

.footerfirst p{

}

.contactText{
    font-family: Tahoma;
    font-weight: lighter;
}

.img img{
    height: 25vh;
    width: 50%;
    display: flex;
    flex-direction: row;
}

@media(max-width: 768px){
    .img img{
        display: flex;
        flex-direction: column;
    }
}
